{
  "openapi": "3.0.1",
  "info": {
    "title": "API for LangDB",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.us-east-1.langdb.ai"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "summary": "Get OAuth2 Access Token",
        "operationId": "getOAuth2AccessToken",
        "parameters": [
          {
            "name": "client_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The client identifier issued during the registration process."
          },
          {
            "name": "client_secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The client secret issued during the registration process."
          }
        ],
        "requestBody": {
          "description": "Credentials for obtaining an access token",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "summary": "Create a chat completion",
        "operationId": "createChatCompletion",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "description": "Input for creating a chat completion",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [],
            "ProjectIdAuth": []
          }
        ]
      }
    },
    "/query": {
      "post": {
        "summary": "Execute a query",
        "operationId": "executeQuery",
        "tags": [
          "Query"
        ],
        "requestBody": {
          "description": "Input for executing a query",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResult"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Server-Sent Events stream"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [],
            "ProjectIdAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ProjectIdAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Project-Id"
      }
    },
    "schemas": {
      "AuthStartResult_Saved": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "Saved"
            ],
            "description": "Indicates that saved credentials are being used."
          }
        }
      },
      "AuthStartResult_ExternalLoginLink": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ExternalLoginLink"
            ],
            "description": "Indicates that an external OAuth login link is provided."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the user for OAuth authentication."
          }
        },
        "required": [
          "status",
          "url"
        ]
      },
      "AuthStartResult_OtpSent": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "OtpSent"
            ],
            "description": "Indicates that an OTP has been sent for authentication."
          }
        }
      },
      "AuthStartResult_RequireEmailAndPassword": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "RequireEmailAndPassword"
            ],
            "description": "Indicates that email and password are required for authentication."
          }
        }
      },
      "CallbackRequest": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Callback parameters received from the integration"
          }
        },
        "required": [
          "params"
        ]
      },
      "AuthResult_TokenInfo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "TokenInfo"
            ]
          },
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string",
            "nullable": true
          },
          "expires_in": {
            "type": "integer",
            "nullable": true
          },
          "token_type": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "type",
          "access_token"
        ]
      },
      "AuthResult_CookieWithToken": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CookieWithToken"
            ]
          },
          "cookies": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "token_info": {
            "$ref": "#/components/schemas/TokenInfo"
          }
        },
        "required": [
          "type",
          "cookies",
          "token_info"
        ]
      },
      "AuthResult_Cookies": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Cookies"
            ]
          },
          "cookies": {
            "type": "string",
            "description": "Serialized cookies string"
          }
        },
        "required": [
          "type",
          "cookies"
        ]
      },
      "TokenInfo": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string",
            "nullable": true
          },
          "expires_in": {
            "type": "integer",
            "nullable": true
          },
          "token_type": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "access_token"
        ]
      },
      "Parameter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Parameter name"
          },
          "type": {
            "type": "string",
            "description": "Data type of the parameter"
          },
          "required": {
            "type": "boolean",
            "description": "Whether the parameter is required"
          },
          "description": {
            "type": "string",
            "description": "Description of the parameter"
          }
        },
        "required": [
          "name",
          "type",
          "required"
        ]
      },
      "VirtualTableResponse": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Resource"
            },
            "description": "Mapping of resource names to their definitions."
          },
          "columns": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Mapping of resource names to their column schemas."
          },
          "configs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ConfigSchema"
            },
            "description": "Mapping of resource names to their configuration schemas."
          }
        },
        "required": [
          "resources",
          "columns",
          "configs"
        ]
      },
      "Resource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique identifier for the resource."
          },
          "type": {
            "type": "string",
            "description": "Type of the resource (e.g., table, view)."
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the resource."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the resource was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the resource was last updated."
          }
        },
        "required": [
          "name",
          "type",
          "description",
          "created_at",
          "updated_at"
        ]
      },
      "TableField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the field/column"
          },
          "type": {
            "type": "string",
            "description": "Data type of the field"
          },
          "description": {
            "type": "string",
            "description": "Description of the field"
          },
          "nullable": {
            "type": "boolean",
            "description": "Indicates if the field can be null"
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "ConfigSchema": {
        "type": "object",
        "description": "Configuration details for the resource.",
        "additionalProperties": true
      },
      "ExecuteRequest": {
        "type": "object",
        "properties": {
          "api_name": {
            "type": "string",
            "description": "Name of the API action to execute"
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Parameters required for the action"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional list of columns to retrieve"
          },
          "query": {
            "type": "string",
            "description": "The query to be executed."
          }
        },
        "required": [
          "api_name",
          "params"
        ]
      },
      "ExecuteResponse": {
        "type": "object",
        "description": "Result of the executed action",
        "properties": {
          "data": {
            "type": "object",
            "description": "The result data returned by the action"
          },
          "message": {
            "type": "string",
            "description": "Optional message or status information"
          }
        },
        "additionalProperties": true
      },
      "GetAccessTokenRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "description": "Client ID provided during app registration"
          },
          "client_secret": {
            "type": "string",
            "description": "Client secret provided during app registration"
          },
          "grant_type": {
            "type": "string",
            "description": "The grant type requesting the token. Only 'client_credentials' is supported.",
            "enum": [
              "client_credentials"
            ],
            "default": "client_credentials"
          }
        },
        "required": [
          "client_id",
          "client_secret",
          "grant_type"
        ]
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Access token issued by the authorization server"
          },
          "expires_in": {
            "type": "integer",
            "description": "Lifetime in seconds of the access token"
          },
          "token_type": {
            "type": "string",
            "description": "Type of the token issued",
            "example": "Bearer"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token which can be used to obtain new access tokens using the same authorization grant"
          },
          "id_token": {
            "type": "string",
            "description": "ID Token containing user identity claims"
          }
        },
        "required": [
          "access_token",
          "expires_in",
          "token_type"
        ]
      },
      "FetchResourceRequest": {
        "type": "object",
        "description": "Parameters required to fetch the resource",
        "additionalProperties": {
          "type": "string"
        }
      },
      "FetchResourceResponse": {
        "type": "object",
        "description": "Result of the resource execution",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong."
          },
          "code": {
            "type": "string",
            "description": "Error code representing the type of error."
          }
        },
        "required": [
          "error",
          "code"
        ]
      },
      "FetchMappedDataRequest": {
        "type": "object",
        "properties": {
          "virtual_table_name": {
            "type": "string",
            "description": "Name of the virtual table to fetch data from"
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Parameters required to fetch the mapped data"
          }
        },
        "required": [
          "virtual_table_name",
          "params"
        ]
      },
      "DataIntegration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the integration."
          },
          "integration_name": {
            "type": "string",
            "description": "Name of the integration."
          },
          "state": {
            "type": "string",
            "description": "Current state of the integration (e.g., enabled, disabled).",
            "enum": [
              "enabled",
              "disabled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the integration was created."
          },
          "config": {
            "type": "object",
            "description": "Configuration details for the integration.",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "integration_name",
          "config",
          "state",
          "created_at"
        ]
      },
      "Integration": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the integration."
          },
          "auth_type": {
            "type": "string",
            "description": "Type of authentication required by the integration.",
            "enum": [
              "oauth",
              "native"
            ]
          },
          "required_inputs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of required input fields for the integration."
          }
        },
        "required": [
          "name",
          "auth_type",
          "required_inputs"
        ]
      },
      "IntegrationAction": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique identifier for the action."
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the action."
          },
          "input_schema": {
            "type": "string",
            "description": "JSON Schema for validating inputs.",
            "nullable": true
          },
          "output_schema": {
            "type": "string",
            "description": "JSON Schema for validating outputs.",
            "nullable": true
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for generating the completion."
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessage"
            },
            "description": "The messages to include in the conversation."
          },
          "temperature": {
            "type": "number",
            "description": "Sampling temperature between 0 and 2.",
            "default": 1
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling probability between 0 and 1.",
            "default": 1
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate."
          },
          "presence_penalty": {
            "type": "number",
            "description": "Penalty for new tokens based on their presence in the text so far.",
            "default": 0
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Penalty for new tokens based on their frequency in the text so far.",
            "default": 0
          },
          "user": {
            "type": "string",
            "description": "Unique identifier representing your end-user."
          },
          "functions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunctionDefinition"
            },
            "description": "List of functions the model may generate JSON inputs for."
          },
          "seed": {
            "type": "integer",
            "description": "Seed for random number generation."
          }
        },
        "required": [
          "model",
          "messages"
        ]
      },
      "ChatCompletionMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the message sender.",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string",
            "description": "The content of the message."
          },
          "name": {
            "type": "string",
            "description": "Optional name of the user in a multi-user chat."
          },
          "function_call": {
            "type": "object",
            "description": "Function call details if the assistant called a function."
          }
        },
        "required": [
          "role",
          "content"
        ]
      },
      "FunctionDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the function."
          },
          "description": {
            "type": "string",
            "description": "A description of what the function does."
          },
          "parameters": {
            "type": "object",
            "description": "JSON Schema defining the parameters the function accepts."
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the completion."
          },
          "object": {
            "type": "string",
            "description": "The object type, e.g., 'chat.completion'."
          },
          "created": {
            "type": "integer",
            "description": "Timestamp of completion creation."
          },
          "model": {
            "type": "string",
            "description": "The model used for the completion."
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            },
            "description": "List of completion choices."
          },
          "usage": {
            "$ref": "#/components/schemas/ChatCompletionUsage",
            "description": "Token usage statistics."
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices",
          "usage"
        ]
      },
      "ChatCompletionChoice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The choice index."
          },
          "message": {
            "$ref": "#/components/schemas/ChatCompletionMessage",
            "description": "The message returned by the model."
          },
          "finish_reason": {
            "type": "string",
            "description": "The reason why the completion finished."
          }
        },
        "required": [
          "index",
          "message"
        ]
      },
      "ChatCompletionUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Number of tokens in the prompt."
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Number of tokens in the completion."
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total number of tokens used."
          }
        },
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens"
        ]
      },
      "QueryResult": {
        "type": "object",
        "description": "Result of the executed query.",
        "additionalProperties": true
      },
      "FetchMappedDataResponse": {
        "type": "object",
        "description": "Data retrieved from the virtual table",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Array of data records"
          },
          "message": {
            "type": "string",
            "description": "Optional message or status information"
          }
        },
        "additionalProperties": true
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "API related to authentication and authorization."
    },
    {
      "name": "Integrations",
      "description": "API for managing integrations with external sources."
    },
    {
      "name": "Query",
      "description": "API for querying"
    }
  ]
}